
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using ModelLayer.APIRequests.Products
@model ProductRecords

<h1>Product</h1>
<h3>Total Records: @Model.total_items</h3>



<table id="records" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>field_65</th>
            <th>field_66</th>
            <th>field_73</th>
            <th>field_75</th>
            <th>field_75_val</th>
          


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.field_65</td>
                <td>@item.field_66</td>

                @if (item.field_73 == null)
                {
                    <td>NIL</td>
                }
                else
                {
                    var record = item.field_73;
                    <td>
                        <ul class="list-group">
                            @if (!string.IsNullOrWhiteSpace(record.src))
                                {
                                <li class="list-group-item">
                                    @*Src: @record.src.Substring(2, record.src.Length)*@
                                    <img src="@record.src" height="@(record.height+"px")" width="@(record.width+"px")" data-publicid="@record.public_id" />

                                </li>
                            }
                            <li class="list-group-item">
                                Src: @record.src

                            </li>

                            <li class="list-group-item">Width: @record.width </li>
                            <li class="list-group-item">Height: @record.height</li>
                            <li class="list-group-item">Public Id: @record.public_id  </li>




                        </ul>
                    </td>
                }



                <td>

                    @foreach (var entry in item.field_75)
                    {
                        <p>@entry</p>
                    }


                </td>
              

                @if (item.field_75_val == null)
                {
                    <td>
                        NIL
                    </td>

                }
                else
                {
                    var record = item.field_75_val;
                    <td>
                        <ul class="list-group">
                            @foreach (var entry in record)
                            {
                                <li class="list-group-item">@entry.id: @entry.val</li>

                            }


                        </ul>
                    </td>

                }



            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Field_43</th>
            <th>field_44</th>
            <th>field_45</th>
            <th>field_72</th>
            <th>field_74</th>
            <th>field_45_val</th>
            <th>field_72_val</th>
            <th>field_74_val</th>

        </tr>
    </tfoot>
</table>


@section Scripts{

    <script>

    $(document).ready(function () {
        $('#records').DataTable();




    });

    </script>
}

