
@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using ModelLayer.APIRequests.Supliers
@model SupplierRecords

<h1>Suppliers</h1>
<h3>Total Records: @Model.total_items</h3>



<table id="records" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>field_68</th>
            <th>field_69</th>
            <th>field_70</th>
            <th>field_71</th>    


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.field_68</td>
            <td>@item.field_69</td>
            <td>@item.field_70</td>
            <td>@item.field_71</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>field_68</th>
            <th>field_69</th>
            <th>field_70</th>
            <th>field_71</th>

        </tr>
    </tfoot>
</table>


@section Scripts{

    <script>

    $(document).ready(function () {
        $('#records').DataTable();




    });

    </script>
}

